[Desktop Entry]
Encoding=UTF-8
Name=Trpc-Qt (Resync)
Comment=Trpc P2P gaming related cryptocurrency
Comment[fr]=Trpc, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Trpc, eşten eşe kriptografik sanal para birimi
Exec=trpc-qt --resync %u
Terminal=false
Type=Application
Icon=trpc128
MimeType=x-scheme-handler/trpc;
Categories=Office;Finance;
