# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.0.0
Encoding=UTF-8
Name=Trpc Qt (Testnet) (resync)
Icon=${SNAP}/trpc128testnet.png
MimeType=x-scheme-handler/trpc;
Exec=trpc %u --testnet --resync
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Trpc Digital Currency QT (Testnet) (resync) 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;trpc;testnet;qt;crypto;currency;snap;snapcraft;resync;
Name[de_DE]=trpc-testnet-resync.desktop.desktop
